<div class="row">
  <div class="col-12">
    <div>
      <h1>Chocolate Cake</h1>
      <app-breadcrumb></app-breadcrumb>
      <div class="separator mb-5"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12 col-xl-8 col-left">
      <div class="card mb-4">
          <div class="card-body">
      
            <app-glide-thumbs [images]="detailImages" ></app-glide-thumbs>
          </div>
      </div>

      <app-product-detail-tabs></app-product-detail-tabs>
  </div>
</div>
