<div class="row">
    <div class="col-12" style="margin-top: -10px;display: -webkit-box;">
      <app-heading></app-heading>
      <app-breadcrumb></app-breadcrumb> 
    <div style="width:60%"></div>
        <button class="btn btn-primary" type="submit" (click) = "save()">{{ 'forms.save' | translate }}</button>
        <button class="btn btn-primary" type="submit" (click) = "submit()">{{ 'forms.submit' | translate }}</button>
      <div class="separator mb-5"></div>
    </div>
  </div>
  <div class="separator mb-5"></div>
  <div class="card mb-4" style="width: 800px;margin: auto;min-height: 600px;">
    <div class="card-body" style="padding-left: 60px;">
      <h5 class="mb-4">Interview </h5>
      <div class="separator mb-5"></div>

      <div class="form-row" *ngFor="let item of interviews; let i = index" style="margin-top: 15px;">
        <div class="form-group col-md-6 input-class"  style="max-width: 45%;">
          <ng-select [items]="organizationList"
              bindLabel="name"
              placeholder="Select tech organization"
              [(ngModel)]="item.orgnanization"
              name = "techOrganization">
          </ng-select>
        </div>

        <div class="form-group col-md-6" style="max-width: 45%;">
          <label class="form-group has-float-label">
            <input class="form-control" />
            <span>Name</span>
          </label>
        </div>
    
        <div class="form-group col-md-6" style="max-width: 40%;">
          <label class="form-group has-float-label">
            <input class="form-control" 
            name = "Name"
            [(ngModel)] = "item.toSoeid"/>
            <span>SOEID</span>
            </label>
        </div>

        <form [formGroup]="form" class="form-group mb-3" style="max-width: 35%;">
          <label class="form-group has-float-label">
          <input type="text" placeholder="Datepicker" class="form-control" formControlName="basicDate"
          bsDatepicker [container]="'html'" [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }"  [(ngModel)]="item.date">
          <span>Date and Time</span>
        </label>
        </form>
        
        <div class="form-group col-md-6" style="max-width: 25%;margin-top: -18px;">
          <timepicker class="timepicker"  [(ngModel)]="item.interviewTime"></timepicker>
        </div>

        <div class="form-group col-md-6" style="max-width: 50px;margin-top: -90px;margin-left: 90%;">
          <span class="badge badge-pill badge-success mb-1" style="width: 58px;margin-top: 10px;" (click)="addItem()">
           ADD
          </span>
          <span class="badge badge-pill badge-danger mb-1"  (click)="deleteItem(i)">
           DELETE
          </span>
        </div>
      </div>
    </div>
  </div>